# fly.toml app configuration file generated for spear-io on 2025-12-28T00:21:49Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'spear-io'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[[services.tcp_checks]]
  interval="15s"
  timeout = "2s"
  grace_period = "15s"
